[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci
# 关闭字符集客户端握手（强制使用配置的字符集）
skip-character-set-client-handshake