<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whut.lostandfoundforwhut.mapper.ItemImageMapper">
    <resultMap id="ItemImageResultMap" type="com.whut.lostandfoundforwhut.model.entity.ItemImage">
        <result column="item_id" property="itemId"/>
        <result column="image_id" property="imageId"/>
    </resultMap>
    
    <!-- 根据物品ID获取图片列表（包含URL） -->
    <select id="getImagesByItemId" resultType="com.whut.lostandfoundforwhut.model.entity.Image">
        SELECT i.id, i.url FROM images i
        JOIN item_images ii ON i.id = ii.image_id
        WHERE ii.item_id = #{itemId}
    </select>
    
    <!-- 根据物品ID获取图片URL列表 -->
    <select id="getImageUrlsByItemId" resultType="java.lang.String">
        SELECT i.url FROM images i
        JOIN item_images ii ON i.id = ii.image_id
        WHERE ii.item_id = #{itemId}
    </select>
</mapper>
