<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whut.lostandfoundforwhut.mapper.UserCollectMapper">
    <resultMap id="UserCollectResultMap" type="com.whut.lostandfoundforwhut.model.entity.UserCollect">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="item_id" property="itemId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
</mapper>
